.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
    position: relative;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    transition: var(--transition);
    height: 100%;
}

.project-card:hover {
    transform: translateY(-7px);
    box-shadow: 0 15px 35px -10px var(--accent-glow);
}

.project-card:hover .project-title a {
    color: var(--accent-color);
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.folder-icon {
    font-size: 2.5rem;
    line-height: 1;
}

.project-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.project-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
}

.project-links a:hover {
    color: var(--accent-color);
}

.project-links svg {
    width: 20px;
    height: 20px;
}

.project-title {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: var(--text-primary);
}

.project-title a {
    color: var(--text-primary);
    text-decoration: none;
}

.project-description {
    color: var(--text-secondary);
    font-size: 1.05rem;
    margin-bottom: 20px;
}

.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: 0.85rem;
    color: var(--text-secondary);
    margin-top: auto;
}